*{
    margin: 0;
    padding: 0;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style */
.display-flex{
    display: flex;
}

.hide{
    display: none;
}
.main-color{
    color:#131313;
}

.second-color{
    color:#424242;
}

.third-color{
    color:#727272;
}

.fourth-color{
    color: #FF900E;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.button{
    padding: 20px 24px;
    font-size: 1.250rem;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FF900E;
}
/* nav bar style */
nav ul li{
    list-style: none;    
}

nav ul li a{
    text-decoration: none;  
    font-weight: 500px;
    font-size: 1rem;
    line-height: 26px;
    margin-right: 30px;
}

nav ul{
    margin-right: 140px;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav h3{
    font-size: 2.8rem;
    margin-left: 127px;
    font-weight: 700;
}

/* Banner style */

.banner{
    text-align: center;
    padding-bottom: 45px;
}

.banner h2{
    margin-top: 102px;
    font-size: 4rem;
}

.banner p{
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 32px;
}

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
}

.banner img{
    width: 100%;
    max-width: 1440px;
}


/* Main Section */
.section1{
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    gap: 73px;
}

.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* width: 100%; */
}



.section1-content{
    max-width: 537px;
}

.section1-content h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.section1-content p{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
    width: 100%;
}

.section2{
    padding:130px 100px;
}


.section2-content h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.section2-content p{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 100px;
    max-width: 542px;
}

.fact-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    width: 241px;
    height: 241px;
    border: 2px solid #FF900E;
    text-align: center;
    /* align-items: center; */
    border-radius: 8px;
    /* padding-top: 45px; */
}

.card img{
    margin-top: 45px;
    margin-bottom: 10px;
}

.card h4{
    font-size: 2.8rem;
    color: #424242;
    margin-bottom: 5px;
}

.card h5{
    font-size: 20px;
    color: #727272;
}


.section3{
    padding-top: 130px;
    max-width: 1440px;
    align-items: top;
    gap: 146px;
}

.section3 img{
    width: 100%;
}

.section3-content h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    max-width: 468px;
}

.section3-content p{
    font-size: 1rem;
    line-height: 26px;
    max-width: 586px;
    margin-bottom: 30px;
}

.box{
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.box h5{
    font-size: 1.25rem;
    color: #131313;
}

.box p{
    font-size: 1rem;
    color: #727272;
}

.button-bold{
    padding: 46px 42px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FF900E;
    margin-left: -92px;
    margin-top: -127px;
}

.bold{
    font-size: 4rem;
    font-weight: bold;
}

/* footer */

footer{
    text-align: center;
    padding: 0 240px 240px 240px;
}

.footer-content h3{
    font-size: 2.8rem;
    margin-top: 50px;
    margin-bottom: 24px;
}

.footer-content p{
    font-size: 1rem;
    line-height: 26px;
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sponsors-name{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-name img{
    filter: grayscale(100%);
}


.copyright{
    padding: 38px 410px;
    font-size: 16px;
    background-color: #FFF4E7;
    margin-top: 130px;
    border-radius: 8px;
}
/* Media Query */
/* For Mobile */
@media screen and (max-width: 576px) {
    .display-flex{
        flex-direction: column;
    }

    nav h3{
        margin: 0 auto;
    }

    nav ul {
        margin: 0 auto;
    }

    nav ul li a{
        margin: 0 auto;
    }

    .banner p{
        width: 100%;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }

    .section1-content{
        /* margin-left: 30px; */
        padding: 15px;
        text-align: center;
    }  

    .section2{
        padding:130px 10px;
        text-align: center;
    }

    .fact-cards{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        margin-left: 70px;
    }

    footer{
        text-align: center;
        padding: 0 10px 40px 10px;
    }

    .sponsors-name{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        margin-left: 100px;
    }

    

    .copyright{
        padding: 38px 10px;
    }

    .section3{
        padding-left: 20px;
        padding-right: 20px;
    }

    .button-bold{
        padding: 36px 32px;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        color: #FFFFFF;
        background-color: #FF900E;
        margin-left: -10px;
        margin-top: -127px;
    }

    .bold{
        font-size: 2rem;
        font-weight: bold;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .display-flex{
        flex-direction: column;
    }
    nav h3{
        margin: 0 auto;
    }

    nav ul {
        margin: 0 auto;
    }

    nav ul li a{
        margin: 0 auto;
    }

    .section1-content{
        margin-right: 120px;
        padding: 15px;
    }  


    .section2{
        padding:130px 60px;
    }

    .fact-cards{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 70px;
    }

    footer{
        text-align: center;
        padding: 0 10px 40px 10px;
    }

    .sponsors-name{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        margin-left: 80px;
    }

    

    .copyright{
        padding: 38px 10px;
    }

    .section3{
        padding-left: 35px;
        padding-right: 35px;
    }

    .button-bold{
        margin-left: -20px;
    }
}