*{
    margin: 0;
    padding: 0;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style */
.display-flex{
    display: flex;
}

.main-color{
    color:#131313;
}

.second-color{
    color:#424242;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* nav bar style */
nav ul li{
    list-style: none;    
}

nav ul li a{
    text-decoration: none;  
    font-weight: 500px;
    font-size: 1rem;
    line-height: 26px;
    margin-right: 30px;
}

nav ul{
    margin-right: 140px;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav h3{
    font-size: 2.8rem;
    margin-left: 127px;
    font-weight: 700;
}